simplecpp/simplecpp/simplecpp.opensdf
simplecpp/simplecpp/simplecpp.sdf
simplecpp/simplecpp/simplecpp.suo
simplecpp/simplecpp/ipch/
simplecpp/simplecpp/simplecpp/Debug/
simplecpp/simplecpp/Debug/
simplecpp/Debug/